<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="header"> 請輸入帳號密碼 </div>
  <div class="title">登入系統</div>
  <form action="/signin" method="post" id="signin">
    <label for="id">帳號</label>
    <input 
      type="text" 
      name="id" 
      id="id" 
      value="test">
    <label for="password">密碼</label>
    <input 
      type="password" 
      name="password" 
      id="password" 
      value="test">
    <label for="agree">同意條款</label>
    <input 
      type="checkbox" 
      name="agree" 
      id="agree" 
      checked>
    <input type="submit" value="登入" > 
  </form>
</body>
<script>
  const checkbox = document.querySelector("#agree")
  const submit = document.querySelector("[type='submit']")
  const form = document.querySelector("#signin")

  form.addEventListener("submit", e => {
    let checked = checkbox.checked
    console.log(checked);
    
    if(!checked){
      e.preventDefault();
      alert("Please check the checkbox first")
    }
  })


</script>
</html>