<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignIn Successed!</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
  <div class="header"> 歡迎光臨，這是會員頁 </div>
  <div class="container">
    <p> {{ name }} 歡迎登入系統 </p>
    <a href="/signout"> 登出系統 </a>
    <hr>
    <p> 查詢會員姓名 </p>
    <form action="" id="queryMember">
      <div class="wrapper">
        <input 
          type="text" 
          name="username" 
          id="username"
          placeholder="輸入想查詢的帳號"
          value="ika"
          required>
        <input type="submit" value="查詢">
      </div>
    </form>
    <div class="api_result"></div>
    <hr>
    <p> 更新我的姓名 </p>
    <form action="" id="patchName">
      <div class="wrapper">
        <input 
          type="text" 
          name="patchName" 
          id="patchName"
          value="ika"
          required>
        <input type="submit"  value="送出">
      </div>
    </form>
    <div class="apiPatchResult"></div>
    

  </div>
</body>
<script>
  const queryForm = document.querySelector("form#queryMember")
  const patchForm = document.querySelector("form#patchName")
  

  
  function getData(){
    let resultDiv = document.querySelector(".api_result")
    let url = `api/member?username=${ queryForm.querySelector("#username").value }`

    fetch(url, {
      method: "GET",
      headers: {
        "Content-Type": "application/json"
      },
    })
    .then( res => res.json() )
    .then( res => {
      resultDiv.textContent = `搜尋中...`
      setTimeout(()=>{
        let { name, username } = res
        resultDiv.textContent = `${ name }(${ username })`
      }, 300)
    })
  }
  queryForm.addEventListener("submit", e => {
    e.preventDefault()
    getData()
  })
  
  patchForm.addEventListener("submit", (e)=>{
    e.preventDefault()
    let resultDiv = document.querySelector(".apiPatchResult")
    let nameDiv = document.querySelector(".container>p")
    let value = patchForm.querySelector("#patchName").value
    fetch("api/member", {
      method: "PATCH",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({ name: value })
    })
    .then( res => res.json() )
    .then( res => {
      if(res.error){
        alert("存取遭拒")
      }else{
        resultDiv.textContent = "更新成功"
        nameDiv.textContent = `${ value } 歡迎登入系統`
      }

      patchForm.querySelector("#patchName").value = ""
    })
  })

</script>
</html>