doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="style.css")
  body 
    #nav
      .container
        .icon My Website 
        .items
          .item Item1
          .item Item2
          .item Item3
          .item Item4
        .hamberger
          .wrap
            .line 
            .line 
            .line 
    #header
      .container
        p.welcome Welcome to MyHome
    #content
      .container
        .block.rect 
          img(src="../asset/imgs/capoo.png", alt="")
          .text promotion 1
        .block.rect 
          img(src="../asset/imgs/capoo.png", alt="")
          .text promotion 2
        .block.rect 
          img(src="../asset/imgs/capoo.png", alt="")
          .text promotion 3
        .block
          img(src="../asset/imgs/capoo.png", alt="")
          .text Title1
        .block
          img(src="../asset/imgs/capoo.png", alt="")
          .text Title2
        .block
          img(src="../asset/imgs/capoo.png", alt="")
          .text Title3
        .block
          img(src="../asset/imgs/capoo.png", alt="")
          .text Title4
        .block
          img(src="../asset/imgs/capoo.png", alt="")
          .text Title5
        .block
          img(src="../asset/imgs/capoo.png", alt="")
          .text Title6
        .block
          img(src="../asset/imgs/capoo.png", alt="")
          .text Title7
        .block
          img(src="../asset/imgs/capoo.png", alt="")
          .text Title8
        .block
          img(src="../asset/imgs/capoo.png", alt="")
          .text Title9
        .block
          img(src="../asset/imgs/capoo.png", alt="")
          .text Title10
        .block
          img(src="../asset/imgs/capoo.png", alt="")
          .text Title11
        .block
          img(src="../asset/imgs/capoo.png", alt="")
          .text Title12
  script(src="script.js")