@use 'rwd'
@use 'vars'

// ------ Debug ------ // 
// #content
  // border: 1px solid #000
  // .container>*
  //   border: 1px solid #000
  // .block.rect>*
  //   border: 1px solid #000

  


// ------ Reset ------ // 
*
  position: relative
  padding: 0
  margin: 0
  box-sizing: border-box
html
  font-size: 20px

// ------ Base ------ //
#nav
  .container
    display: flex
    justify-content: space-between
  &>*
    // border: 1px solid #000
    padding: 8px 10px
  .items
    *
      // border: 1px solid #000
      display: inline-block
      margin-right: 20px
      &:last-child
        margin-right: 0px
// ------------------- //
#header
  .container
    +vars.center
    height: 250px
    background-color: vars.$color_blue
  p
    font-size: 2rem
// ------------------- //
#content
  width: min(1200px, 90%)
  margin: 0 auto
  margin-top: 30px
  font-size: 0
  .container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
.block
  background-color: vars.$color_blue
  margin-bottom: 20px
  width: calc( (100% - 5 * 20px) / 6 )
  border: 1px solid #999
  img
    width: 100%
    object-fit: cover
  .text
    font-size: 1rem
    text-align: center
    padding: 15px
.block:is(.rect)
  width: calc( (100% - 2 * 20px) / 3 )
  height: 50px
  &>*
    display: inline-block
    vertical-align: middle
  img
    width: 80px
    height: 100%
    margin-right: 10px

  .text
    padding: 0px

  
  
    


