doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="style.css")
    script(src="https://kit.fontawesome.com/5330a6848c.js" crossorigin="anonymous")
  body 
    #sidebar
      .container 
        .items
          .item Item1
          .item Item2
          .item Item3
          .item Item4
    #nav
      .container
        .icon My Website 
        .items
          .item Item1
          .item Item2
          .item Item3
          .item Item4
        .hamberger
          .wrap
            .line 
            .line 
            .line 
    #header
      .container
        p.welcome Welcome to MyHome
    #content
      .container
        
  script(src="./main.js" type="module")